/* URL for Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Applies to the entire page */
* {
  margin: 5;
  padding: 0;
  box-sizing: border-box; /* Element size based on the width */
  font-family: "Poppins";
}

/* Applies to the body of the page */
body {
  display: flex; /* Dynamic, easy alignment, flexible */
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: url(https://i.pinimg.com/736x/0c/07/7d/0c077def70ff3072ac32228232cacac8.jpg)
    no-repeat; /* The background image */
  background-size: cover; /* Background covers entire page */
  background-position: center; /* Centers background */
}

/* Applies to the header */
header {
  position: fixed; /* Locks position despite scrolling */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 90px;
  display: flex; /* Dynamic, easy alignment, flexible */
  justify-content: space-between;
  align-items: center;
  z-index: 99; /* Adjusts stacking order */
}

/* Applies to the logo */
.logo {
  font-size: 2em;
  color: azure;
  user-select: none; /* Prevent selection and copy-pasting */
}

/* Applies to the navigation text */
.navigation a {
  position: relative; /* Takes up space */
  font-size: 1.05em;
  color: azure;
  text-decoration: none; /* Removes any text accessories e.g., underline, etc. */
  font-weight: 500;
  margin-left: 40px;
}

/* Applies to the register button */
.loginButton {
  width: 120px;
  height: 40px;
  background: transparent;
  border: 2px solid azure;
  outline: none; /* Removes outline */
  border-radius: 6px; /* Rounds corners */
  cursor: pointer; /* Allows user to recognize that the element is interactive */
  font-size: 1.05em;
  color: azure;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s; /* Adds transition when hovered */
}

/* Applies to the navigation text after */
.navigation a::after {
  content: ""; /* Empties content */
  position: absolute; /* Takes up no space */
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: azure;
  border-radius: 5px; /* Rounds corners */
  transform-origin: right; /* Shrinks towards the right */
  transform: scaleX(0); /* Shrinks to nothing */
  transition: transform 0.5s; /* Transformation time of 0.5 seconds */
}

/* Applies to the navigation text after hovering */
.navigation a:hover::after {
  transform-origin: left; /* Shrinks towards the left */
  transform: scaleX(1); /* Scales up to normal/full size */
}

/* Applies to the login button when hovering */
.loginButton:hover {
  background: rgb(157, 178, 205);
  color: rgb(86, 96, 108);
}

/* Applies to the wrapper or container of the form */
.wrapper {
  position: relative; /* Takes up space */
  background-color: rgba(240, 248, 255, 0.268);
  backdrop-filter: blur(10px); /* Adds a blurring filter */
  border: 1px;
  border-color: rgb(83, 93, 102);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); /* Adds a 50% opacity black shadow around the wrapper */
  padding: 55px 60px;
  border-radius: 30px; /* Rounds corners */
  text-align: center;
  margin-bottom: -70px;
  height: 500px;
}

/* Applies to the form */
.form {
  text-align: center;
  gap: 10px;
  padding-bottom: 40px;
}

/* Applies to the header on the form "Register" */
.form h2 {
  top: 10px;
  color: rgb(26, 28, 53);
  margin-bottom: 30px;
}

/* Applies to the input fields on the form */
.inputForm {
  justify-content: space-between;
  padding: 2px 10px;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 10px; /* Rounds corners */
  border: 1px solid black;
}

/* Applies to the input fields on the form, specifically from the class column (username, email, gender) */
.column .inputForm {
  display: flex; /* Dynamic, easy alignment, flexible */
}

/* Applies to the placeholder on the input */
input::placeholder {
  opacity: 1;
  border-radius: 10px; /* Rounds corners */
  padding: 5px;
  padding-left: 5px; /* Adds a space on the left so it doesn't feel squeezed in and text doesn't get cut by the rounded corners */
}

/* Applies to the submit button */
.submitButton {
  display: flex; /* Dynamic, easy alignment, flexible */
  margin-left: 58px;
  padding: 4px 12px;
  margin-top: 25px;
  color: black;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); /* Adds a 50% opacity black shadow around the submit button */
  background-color: azure;
  border: 2px solid black;
  border-radius: 10px; /* Rounds corners */
}

/* Applies to the submit button at hovering */
.submitButton:hover {
  background: rgb(204, 208, 213);
  color: rgb(72, 75, 78);
}

/* Applies to the row class */
.row {
  display: flex; /* Dynamic, easy alignment, flexible */
  flex-direction: row; /* Flexes horizontally (side by side) */
  align-items: flex-start; /* Items sit in the very beginning */
  gap: 3px; /* Adds a 3px gap between age and dob field */
}

/* Applies to the input field in the row class */
.wrapper .form .row .inputForm {
  display: inline; /* Items sit on the same line */
}

/* Applies to the age */
.age {
  width: 60px;
  padding: 3px;
  top: 1px;
}

/* Applies to the date of birth */
.dob {
  width: 132px;
}

/* Applies to the error message specifically in the column class */
.wrapper .form .column .errorMsg {
  color: rgb(103, 14, 14);
  font-size: 10px;
  display: flex; /* Dynamic, easy alignment, flexible */
  min-height: 15px; /* Reserves space so the form contents don't jump around */
  margin-bottom: 10px;
  text-justify: auto;
}

/* Applies to the error message specifically in the row class */
.wrapper .form .row .errorMsg {
  color: rgb(103, 14, 14);
  font-size: 10px;
  top: 100px;
}

/* Applies to the field in the row class */
.row .field {
  display: flex; /* Dynamic, easy alignment, flexible */
  flex-direction: column; /* Flexes vertically (top and bottom) so the field is on top and the error message underneath */
  align-items: flex-start; /* Items sit in the very beginning */
}
