/* URL for Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Applies to the whole page */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* Applies to the body */
body {
  background-color: white;
  color: black;
  transition: /* Adds a transition for when the switch is clicked */
    background-color 1.3s,
    color 1.3s;
}

/* Applies to the header (light mode/dark mode) */
body h2 {
  text-align: center;
  padding-top: 70px;
  font-size: 30px;
  margin-bottom: 50px;
}

/* Applies to the dummy text */
body p {
  text-align: center;
  margin: 250px 250px;
  margin-top: 80px;
}

/* Applies to the wrapper or container */
.container {
  display: flex; /* Dynamic, easy to align, flexible */
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

/* Applies to the switch */
.switch {
  position: relative; /* Takes up space */
  display: inline-block; /* Horizontal, height and width adjustable, margin and padding adjustable */
  width: 180px;
  height: 72px;
}

/* Applies to switch input */
.switch input {
  opacity: 0%; /* Makes checkbox invisible */
}

/* Applies to the slider of the switch */
.slider {
  position: absolute; /* Takes up no space */
  cursor: pointer; /* Changes cursor when hovers over slider so user knows it's interactive*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px; /* Rounds corner */
}

/* Applies to the slider of the switch before interaction */
.slider:before {
  position: absolute; /* Takes up no space */
  content: ""; /* Empties the content of the slider */
  height: 60px;
  width: 60px;
  left: 5px;
  bottom: 6px;
  background-color: rgb(255, 255, 255);
  transition: 0.7s; /* Adds a transition when slider moves right (dark mode) */
  border-radius: 50%; /* Rounds corner */
}

/* Applies to the switch when checked and slider */
input:checked + .slider {
  background-color: #c6c0c0; /* Changes button background when checked */
}

/* Applies to the switch when checked and the slider before interaction */
input:checked + .slider:before {
  transform: translateX(110px); /* Slides by 110px to turn switch ON/OFF */
}

/* Applies to body in dark mode */
body.darkMode {
  background-color: black; /* Changes background to black */
  color: white; /* Changes font color to white */
}
