@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&display=swap");

* {
  font-family: "Hanken Grotesk";
  font-size: 30px;
  text-align: center;
  padding-top: 90px;
}
